/* Allow users in {{ arch_bluetooth_group}} group to use blueman actions requiring root privileges without authentication */
polkit.addRule(function(action, subject) {
    if ((action.id == "org.blueman.network.setup" ||
         action.id == "org.blueman.dhcp.client" ||
         action.id == "org.blueman.rfkill.setstate" ||
         action.id == "org.blueman.pppd.pppconnect") &&
        subject.isInGroup("{{ arch_bluetooth_group }}")) {

        return polkit.Result.YES;
    }
});
