[Unit]
Description=Pacman mirrorlist update
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart={{ arch_reflector_executable }} --protocol https --latest {{ arch_reflector_repository_number }} --sort {{ arch_reflector_sort_by}} --save {{ arch_reflector_mirror_list }}

[Install]
RequiredBy=multi-user.target